<div *ngIf="form">
  <div class="page-header">
    <h3>{{form.value.name}}</h3>
    <h3 *ngIf="!form.value.name">no name</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-default" (click)="goBack()" style="margin-right: 5px;">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Back
        </a>
        <div class="pull-right form-group">
          <button *ngIf="instance.id" (click)="deleteInstance(instance)" class="btn btn-danger">Delete</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>

    <div *ngIf="apiResponse" class="row">
      <div class="col-sm-12">
        <div *ngFor="let error of apiResponse.errors">
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error.message }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4">
        <label>name: </label>
        <input class="form-control" formControlName="name" placeholder="instance name"/>
      </div>
      <div class="form-group col-sm-4">
        <label>IP address: </label>
        <input class="form-control" formControlName="ipAddress" placeholder="10.1.0.123"/>
      </div>
      <div class="form-group col-sm-4">
        <label>MAC address: </label>
        <div class="input-group">
          <input class="form-control" formControlName="macAddress" placeholder="8E:85:9D:89:E4:2F"/>
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="generateMACAddress()">Generate</button>
            </span>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label>user-data: </label>
        <codemirror [config]="codeMirrorConfig" formControlName="userData"></codemirror>
      </div>
      <div class="form-group col-sm-12">
        <label>meta-data: </label>
        <codemirror [config]="codeMirrorConfig" formControlName="metaData"></codemirror>
      </div>
    </div>
  </form>

  <app-preview [instance]="instance"></app-preview>
</div>
